@font-face{
    font-family: Cursed Timer ULiL;
    src: url(CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1B244A;
    color: #EEEEEE;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
}
h3{
    font-size: 40px;
    font-weight: bold;
    color: #EEEEEE;
    margin:60px 0 0
}
h1{
    font-family:Cursed Timer ULiL;
    color: #F94F6D;
    font-size: 90px;
    font-weight: 400;
    margin: 10px 0 0;
    background-color: black;
    padding: 20px 50px 0px;
    border-radius: 8px;
}
button{
    font-family:Cursed Timer ULiL;
    margin-top: 20px;
    background-color: inherit;
    color: #9AABD8;
    border: 3px solid #9AABD8;
    border-radius: 6px;
    padding: 14px;
    font-size: 18px;
}


